DICTIONARY
 - HOW TDECLARE IT
 - HOW TO ACCES KEY AND VALUES OF A DICTIONARY
 HOW TO USE LOOP DICTIONARY
 INDEXING IN DICTIONARY

In [23]:
student = {
    "name": "john",
    "class": "physics",
    "roll_no": 12,
    "age" : 18,
    "marks" : 70
}
print(student)

{'name': 'john', 'class': 'physics', 'roll_no': 12, 'age': 18, 'marks': 70}

In [24]:
temp = {
    'Lucknow' : [25,30,35],
    'Delhi' : [30,35,40],
    'Mumbai': [35,40,45]
}
print(temp)

{'Lucknow': [25, 30, 35], 'Delhi': [30, 35, 40], 'Mumbai': [35, 40, 45]}

In [25]:
info = dict(name = 'john', age = 22, city = 'New york')
print(info)

{'name': 'john', 'age': 22, 'city': 'New york'}

In [26]:
x  = dict(name = input("Enter your name"),age = int(input("Enter your age")),
city = input("enter your city "))
print(x)

{'name': 'faizan', 'age': 23, 'city': 'dehradun'}

In [27]:
# lst method to access value through key 
print(student['name'])
print(student['roll_no'])

john
12

In [28]:
#2nd method 
print(student.get('name'))
print(student.get('roll_no'))
print(student.get('marks'))

john
12
70

In [29]:
#to add item in dictonary 
student['school']= 'DPS'
student['city'] = 'Lucknow'
print(student)

{'name': 'john', 'class': 'physics', 'roll_no': 12, 'age': 18, 'marks': 70, 'school': 'DPS', 'city': 'Lucknow'}

In [30]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'class', 'roll_no', 'age', 'marks', 'school', 'city'])
dict_values(['john', 'physics', 12, 18, 70, 'DPS', 'Lucknow'])
dict_items([('name', 'john'), ('class', 'physics'), ('roll_no', 12), ('age', 18), ('marks', 70), ('school', 'DPS'), ('city', 'Lucknow')])

In [31]:
for k in student:
    print(k)

name
class
roll_no
age
marks
school
city

In [32]:
for k,v in student.items():
    print(k,v)

name john
class physics
roll_no 12
age 18
marks 70
school DPS
city Lucknow

In [39]:
company = {
    'emp001' : {'name' : 'John','age' : 27, 'dept' : 'HR', 'salary' : 30000 },
    'emp002' : {'name' : 'Smit', 'age' : 24, 'dept' : 'Engineering', 'salary' : 50000},
    'emp003' : {'name' : 'Mark', 'age' : 30, 'dept' : 'Finance', 'salary' : 40000},
    'emp004' : {'name' : 'Alex', 'age' : 29, 'dept' : 'IT', 'salary' : 60000},
}
print(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000}, 'emp002': {'name': 'Smit', 'age': 24, 'dept': 'Engineering', 'salary': 50000}, 'emp003': {'name': 'Mark', 'age': 30, 'dept': 'Finance', 'salary': 40000}, 'emp004': {'name': 'Alex', 'age': 29, 'dept': 'IT', 'salary': 60000}}

In [40]:
from pprint import pp
pp(company)

{'emp001': {'name': 'John', 'age': 27, 'dept': 'HR', 'salary': 30000},
 'emp002': {'name': 'Smit', 'age': 24, 'dept': 'Engineering', 'salary': 50000},
 'emp003': {'name': 'Mark', 'age': 30, 'dept': 'Finance', 'salary': 40000},
 'emp004': {'name': 'Alex', 'age': 29, 'dept': 'IT', 'salary': 60000}}

In [41]:
print(company['emp004']['name'])

Alex

In [42]:
print(temp['Lucknow'][1])
print(temp['Delhi'][2])

30
40

In [45]:

# print averabge temprature of  delhi
print('Average temprature of Delhi is:', sum(temp['Delhi'])/len(temp['Delhi']))

Average temprature of Delhi is: 35.0