Loops 
- For loops
- While loops

In [9]:
lst = [3,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lst:
 print (i, end=' ' )

3 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [10]:
Fruits = ['apple','banana','cherry','orange','kiwi','mellon','mango']
for i in Fruits:
    print(i)

apple
banana
cherry
orange
kiwi
mellon
mango

In [11]:
name = 'Python'
for x in name:
    print(x)

P
y
t
h
o
n

In [13]:
for num in range (21):
    print(num, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [16]:
for num in range (1,6):
 print (num, end=' ')

1 2 3 4 5

In [22]:
for num in range(1,21,2):
    print(num, end= ' ' )

1 3 5 7 9 11 13 15 17 19

In [36]:
for i in range(5):
    print('faizan')

faizan
faizan
faizan
faizan
faizan

In [42]:
for num in range(1,20,2):
    print(num, end = " ")

1 3 5 7 9 11 13 15 17 19

In [40]:
a = 0
while a<=5:
    print(a)
    a+=1

0
1
2
3
4
5

In [43]:
a = 1
while a<=20:
    print(a)
    a+=2

1
3
5
7
9
11
13
15
17
19

In [10]:
Fruits = ['apple','banana','cherry','orange','kiwi','onion','mellon','mango']
 
for i in Fruits: 
 if i == 'onion':
  break  
print(i)

onion

In [8]:
name = ['F','A','I','Z','A','N']
for i in name:
 if i == 'Z':
    break 
print(i, end=  "")

Z

In [11]:
num = [2,5,8,9,6]
sum = 0
for i in num:
    sum += i
print(sum)

30

In [16]:
fruits = ['apple','banana','cherry','orange','kiwi','mellon','mango']
for i,v in enumerate(fruits):
    print(f'{i}. {v}')

0. apple
1. banana
2. cherry
3. orange
4. kiwi
5. mellon
6. mango